# -------------------------

# Logs

# -------------------------

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------------

# Node / React

# -------------------------

node_modules/
dist/
dist-ssr/
build/
*.local

# -------------------------

# Environment variables

# -------------------------

.env
.env.local
.env.development
.env.production

# -------------------------

# Python

# -------------------------

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environments

venv/
env/
.venv/

# -------------------------

# ML Model Files

# -------------------------

*.h5
*.pt
*.pth
*.onnx
*.ckpt
*.weights

# -------------------------

# Dataset / Large Files

# -------------------------

datasets/
data/
*.zip
*.mp4

# -------------------------

# OS files

# -------------------------

.DS_Store
Thumbs.db

# -------------------------

# IDE / Editor files

# -------------------------

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------

# Jupyter / Colab

# -------------------------

.ipynb_checkpoints/

# -------------------------

# Temporary files

# -------------------------

*.tmp
